<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px;">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11 Point of Sale Extension</h2>
            <h3 class="oe_slogan">POS Combo module allows user to use combo feature in restaurant.</h3>
            <br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">We have one features available in POS Configuration as per below image.</li>
                </ul>
                <img style="max-width: 100%;" src="1_pos_config.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Create Combo</li>
                </ul>
                <img style="max-width: 100%;" src="2_create_combo.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Select combo product, open popup of combo product.</li>
                </ul>
                <img style="max-width: 100%;" src="main_screenshot.png"><br /><br />
                <img style="max-width: 100%;" src="4_select_product.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Combo product details added to cart.</li>
                </ul>
                <img style="max-width: 100%;" src="5_product_add_cart.png"><br /><br />
                <img style="max-width: 100%;" src="6_payment_screen.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Combo product print on receipt.</li>
                </ul>
                <img style="max-width: 100%;" src="7_pos_receipt.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">POS Order with combo product details.</li>
                </ul>
                <img style="max-width: 100%;" src="8_pos_order.png"><br /><br />
                <br /><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>